In [ ]:
*Ex1_data_set_options_statements.sas (Part 1);
** KEEP=, RENAME=, and WHERE= data Set Options;
options nocenter nodate nodate;
data work.class1;
 set sashelp.class (keep=name age sex
            rename=(name=Student_Name sex=Gender)
                   where =(age >13 )
                   );
run;
title1 "KEEP=, RENAME=, and WHERE= data Set Options";
proc print data=work.class1;
run;